{% extends 'polls/header.html' %}
{% load static %}

{% block content %}
  <div class="container detail-containter">
    <strong><h3 class="detail-title">{{ car.name }} {{ car.model_car }}</h3></strong>
    <strong><h3 class="detail-price">{{ car.price }} DA</h3></strong>
    <div class="row">
      <div class="col">
        <div class="featured-carousel owl-carousel">
          <div class="item">
            <div class="img">
              <img src="{{ car.image }}" class="img imageViewBig" />
            </div>
          </div>
          <div class="item">
            <div class="img">
              <img src="{{ car.image }}" class="img imageViewBig" />
            </div>
          </div>
          <div class="item">
            <div class="img">
              <img src="{{ car.image }}" class="img imageViewBig" />
            </div>
          </div>
          <div class="item">
            <div class="img">
              <img src="{{ car.image }}" class="img imageViewBig" />
            </div>
          </div>
          <div class="item">
            <div class="img">
              <img src="{{ car.image }}" class="img imageViewBig" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalImgageView" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-body text-center">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="position:absolute; top:5px;right:5px;"></button>
                  <img src="" alt="Image Title" class="img-fluid" id="modalImgageViewIMG" style="width:100%;">
              </div>
          </div>
      </div></div>
    <div class="btn-group">
      <form action="" method="get">
        <button class="nav-btn mr-1"><i class="fa-regular fa-bookmark"></i></button>
      </form>
      <form action="" method="get">
        <button class="nav-btn mr-1"><i class="fa-regular fa-heart"></i></button>
      </form>
      <form action="" method="get">
        <button class="nav-btn mr-1"><i class="fa-solid fa-flag"></i></button>
      </form>
      <form action="" method="get">
        <button class="nav-btn mr-1"><i class="fa-solid fa-share-nodes"></i></button>
      </form>
    </div>
    <div class="btn-group float-right">
      <form action="" method="get">
        <button class="btn btn-primary ml-1 btn-detail"><i class="fa-regular fa-message mr-1 text-align-center"></i>Message</button>
      </form>
      <form action="" method="get">
        <button class="btn btn-primary ml-1 btn-detail"><i class="fa-solid fa-phone mr-1 text-align-center" style="font-weight: bold;"></i>Appeler</button>
      </form>
    </div>
  </div>
  <div class="container detail-containter">
    <div class="row g-3">
      <div class="col">
        <div class="title-text">
          <a><i class="fa-regular fa-file-lines mr-1 desc"></i>Description de vehicule</a>
        </div>
        <table class="table info-table">
          <tr>
            <td>Numéro</td>
            <td>{{ car.phone_number }}</td>
          </tr>
          <tr>
            <td>Date</td>
            <td>{{ car.year }}</td>
          </tr>
          <tr>
            <td>Vues</td>
            <td>99</td>
          </tr>
          <tr>
            <td>Boite</td>
            <td>{{ car.get_boite_display }}</td>
          </tr>
          <tr>
            <td>Finition</td>
            <td>Sport</td>
          </tr>
          <tr>
            <td>Modèle</td>
            <td>{{ car.model_car }}</td>
          </tr>
          <tr>
            <td>Marque</td>
            <td>{{ car.name }}</td>
          </tr>
          <tr>
            <td>Energie</td>
            <td>{{ car.get_energy_display }}</td>
          </tr>
          <tr>
            <td>Couleur</td>
            <td>{{ car.color }}</td>
          </tr>
          <tr>
            <td>Moteur</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>Kilométrage</td>
            <td>N/A</td>
          </tr>
          <tr>
            <td>Année</td>
            <td>{{ car.year }}</td>
          </tr>
        </table>
      </div>
      <div class="col">
        <div class="title-text container ml-1">
          <a><i class="fa-regular fa-file-lines mr-1 desc"></i>Contact & Coordonnés</a>
          <div class="contact">
            <table class="table table-contact">
              <tr>
                <td><i class="fa-solid fa-user"></i></td>
                <td><button class="btn ml-1 btn-detail btn-contact" disabled>{{car.user}}</button></td>
              </tr>
              <tr>
                <td><i class="fa-solid fa-location-dot"></i></td>
                <td><button class="btn ml-1 btn-contact" disabled >Cité 1100 logements Batiment T cage N⁰03 Porte N⁰06,Bouira</button></td>
              </tr>
              <tr>
                <td><i class="fa-solid fa-phone"></i></td>
                <td>
                  <form action="" method="get">
                    <button class="btn ml-1 btn-detail btn-contact">+213779675028</button>
                  </form>
                </td>
              </tr>
              <tr>
                <td><i class="fa-solid fa-message"></i></td>
                <td>
                  <form action="" method="get">
                    <button class="btn ml-1 btn-detail btn-contact">+Message</button>
                  </form>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="title-text container ml-1">
          {% if car.description %}
            <a>Description</a>
            <div class="contact">
              <p class="mt-2 ml-1 mr-1">{{ car.description }}</p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'main/carousel/js/jquery.min.js' %}"></script>
  <script src="{% static 'main/carousel/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'main/carousel/js/main.js' %}"></script>
  <script>
    $(document).on("click", ".imageViewBig", function() {
      let url = $(this).attr('src');
      $('#modalImgageViewIMG').attr('src', url);
      $('#modalImgageView').modal('toggle');
    });
  </script>
{% endblock %}
