{% extends 'polls/header.html' %}
{% load static %}

{% block content %}
  <div class="col">
    <div class="card shadow-sm">
      <img class="bd-placeholder-img card-img-top image-card" width="100%" height="225" src="{{ car.image }}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="true" />
      <title>{{ car.name }}</title>
      <div class="card-body">
        <p class="card-text">{{ car.name }} {{ car.model_car }}</p>
        {% if car.boite %}
          <span class="badge-cust">{{ car.get_boite_display }}</span>
        {% endif %}
        {% if car.energy %}
          <span class="badge-cust">{{ car.get_energy_display }}</span>
        {% endif %}
        {% if car.color %}
          <span class="badge-cust">{{ car.color }}</span>
        {% endif %}
        <p class="card-text" style="font-weight: bold;color: gold;">{{ car.price }} DZD</p>
        <hr rold="separator" />
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <form method="get" action="{% url 'detail' car.id %}">
              <button type="submit" class="btn btn-sm btn-outline-secondary card-btn">Details</button>
            </form>
          </div>
          <small class="text-body-primary">{{ car.year }}</small>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
