{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <title>ShopyCar</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'main/css/headers.css' %}" />
    <link rel="stylesheet" href="{% static 'main/css/body.css' %}" />
    <link rel="stylesheet" href="{% static 'main/css/detail.css' %}" />
    <link rel="stylesheet" href="{% static 'main/css/login.css' %}" />
    <link rel="stylesheet" href="{% static 'main/css/vehicleForm.css' %}" />
    <link rel="stylesheet" href="{% static 'main/font_awsome_v6/css/all.css' %}" />
    <link rel="stylesheet" href="{% static 'main/bootstrap/dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'main/carousel/css/owl.carousel.min.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" />
    <script language="JavaScript" type="text/javascript" src="{% static 'main/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script language="JavaScript" type="text/javascript" src="{% static 'main/js/header.js' %}"></script>
  </head>
  <body class="body">
    <main>
      <header class="mb-15 py-2 navbar" id="header">
        <div class="container">
          <ul class="nav">
            <a href="{% url 'index' %}">
              <li>
                <img src="{% static 'main/images/logo_yellow.png' %}" alt="Logo" class="logo" />
              </li>
            </a>
          </ul>

          <div class="row justify-content-end">
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
              <input type="search" id="search-bar" class="form-control search-bar" placeholder="Search..." aria-label="Search" />
            </form>
            <div class="col-auto">
              <button name="add" onclick="search_bar_toglle()" class="nav-btn" id="search-trigger"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            {% if user.is_authenticated %}
              <div class="col-auto">
                <a href="{% url 'vehicleForm' %}" class="link-body-emphasis text-decoration-none"><button name="add" class="nav-btn"><i class="fa-solid fa-square-plus"></i></button></a>
              </div>
              <div class="col-auto">
                <a href="" class="link-body-emphasis text-decoration-none"><button name="cart" class="nav-btn" type="submit" href=""><i class="fa-solid fa-cart-shopping"></i></button></a>
              </div>
              <div class="dropdown col-auto btn-group">
                <a href="#?" class="link-body-emphasis text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false"><button name="main" class="nav-btn" type="button" href=""><i class="fa fa-list"></i></button></a>
                <ul class="dropdown-menu text-small">
                  <li>
                    <a class="dropdown-item" href=""><i class="fa fa-user"></i> {{ user.username }}</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="admin/"><i class="fa fa-tools"></i> Paramètres</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Se déconnecter</a>
                  </li>
                </ul>
              </div>
            {% else %}
              <div class="dropdown col-auto btn-group">
                <a href="{% url 'login' %}" class="link-body-emphasis text-decoration-none nav-btn"><button name="main" class="nav-btn" type="submit"><i class="fa fa-user"></i></button></a>
              </div>
            {% endif %}
          </div>
        </div>
      </header>
    </main>
    <div class="content">
      {% block content %}

      {% endblock %}
    </div>

    <!-- Footer -->
    <div class="mt-5">
      <footer class="text-center text-lg-start buttom-footer">
        <!-- Section: Social media -->
        <section class="section-footer">
          <div class="text-center p-2">
            <a href="https://facebook.com/waliddemdoum2" target="_blank" class="text-white me-4" style="text-decoration: none;"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://twitter.com/OualidDemdoum" target="_blank" class="text-white me-4" style="text-decoration: none;"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/oualiddmd" target="_blank" class="text-white me-4" style="text-decoration: none;"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/oualid-demdoum-047036233/" target="_blank" class="text-white me-4" style="text-decoration: none;"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/Walid-Demdoum/" target="_blank" class="text-white me-4" style="text-decoration: none;"><i class="fab fa-github"></i></a>
          </div>
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links -->
        <section class="section-footer-2">
          <div class="text-center text-md-start">
            <!-- Grid row -->
            <div class="row" style="--bs-gutter-x:0;">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 my-4">
                <!-- Content -->
                <ul class="nav">
                  <a href="{% url 'index' %}">
                    <li>
                      <img src="{% static 'main/images/logo_yellow.png' %}" alt="Logo" class="logo" />
                    </li>
                  </a>
                </ul>
                <p class="mt-5">Votre marchez ultime pour trouvez le vehicule qui vous correspond.</p>
                <p>L'utilisation de ce site Internet implique l'acceptation des Conditions générales et du règlement sur le Respect de la vie privée.</p>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 my-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold text-gold">Useful links</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                <p>
                  <a href="{% url 'login' %}" class="text-dark">Se connectez</a>
                </p>
                <p>
                  <a href="{% url 'index' %}" class="text-dark">Show room</a>
                </p>
                <p>
                  <a href="{% url 'register' %}" class="text-dark">Inscription</a>
                </p>
                <p>
                  <a href="#!" class="text-dark">Support</a>
                </p>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 my-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold text-gold">Contact</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                <p>
                  <i class="fas fa-home mr-3"></i> City 1100, building T, block 03 door 03, Bouira, Algeria
                </p>
                <p>
                  <i class="fas fa-envelope mr-3"></i> walid.demdoum@univ-constantine2.dz
                </p>
                <p>
                  <i class="fas fa-phone mr-3"></i> + 213 779675028
                </p>
                <p>
                  <i class="fas fa-print mr-3"></i> + 213 552282958
                </p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links -->

        <!-- Copyright -->
        <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2)">
          © 2020 Copyright:
          <a class="text-white" href="http://localhost:8000/">ShopyCar.dz</a>
        </div>
        <!-- Copyright -->
      </footer>
    </div>
    <!-- Footer -->
  </body>
</html>
