.img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.detail-title {
    font-weight: bold;
    color: aliceblue;
    margin-bottom: 20px;
}

.detail-price {
    font-weight: bold;
    color: gold;
    margin-bottom: 20px;
}
.description-title{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.detail-containter {
    background-color: #272727;
    /* background: linear-gradient(135.8deg, rgb(6, 125, 141) 27.1%, rgb(26, 26, 29) 77.5%); */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.float-right {
    float: right !important;
}
.btn-detail{
    font-weight: bold !important;
}
.btn-contact{
    background-color: gold !important;
    color: black !important;
    font-weight: bold !important;
    border: none !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    text-align: initial !important;

}
.btn-contact:hover{
    background-color: greenyellow !important;
    color: black !important;
    font-weight: bold !important;
    border: none !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
.btn-contact:disabled{
    background-color: gold !important;
    color: black !important;
    font-weight: bold !important;
    border: none !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    opacity: 1 !important;

}
.title-text{
    color:white !important;
    font-size: x-large;   
}
.title-text i{
    color:gold;
}
.info-table td{
    background-color: #27272700 !important;
    color: aliceblue !important;
    font-size: medium;
    font-weight: bold;
    border-bottom: 1px solid #2f2f2f5d !important;
}
.contact{
    border-radius: 20px;
    margin-top: 15px;
    font-size: large;

}
.table-contact{
    margin: 15px;
    width: 90% !important;
}
.table-contact td{
    background-color: #27272700 !important;
    border-bottom: none !important;
}
.modal-content{
    background: linear-gradient(135.8deg, rgb(6, 125, 141) 27.1%, rgb(26, 26, 29) 77.5%);
}