.text-small {
  font-size: 85%;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.navbar {
  position: fixed !important;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background: linear-gradient(100.6deg, rgb(7, 57, 63) 11.2%, rgb(6, 125, 141) 91.1%) !important; 

}
.navbar-scrolled{
  background: linear-gradient(100.6deg, rgb(7, 57, 63, 0.5) 11.2%, rgb(6, 125, 141, 0.5) 91.1%) !important; 
}
.logo{
  width: 150px;
  height: 30px;
}
.content {
  margin-top: 90px;
}
.nav-btn {
  text-decoration: none;
  background: none;
  color: rgb(255, 253, 253);
  border: none;
  cursor: pointer;
  font-size: 25px;
}
.nav-btn:hover {
  /* color: rgb(255, 253, 253); */
  color: gold;
  cursor: pointer;
}
.body{
  background-image: url("https://www.transparenttextures.com/patterns/white-texture.png");
}
.search-bar{
  background-color: white;
  border-color: white;
  border-radius: 25px !important;
  width: 290px !important;
  color: rgb(37, 10, 10) !important;
}
.search-bar::placeholder{
  color: rgb(136, 136, 136) !important;
}
.search-bar:focus{
  box-shadow: none !important;
}

.mr-1 {
  margin-right: 12px !important;
}

.ml-1 {
  margin-left: 12px !important;
}

.mt-1{
  margin-top: 12px !important;
}
.text-gold{
  color:gold !important;
}
.section-footer{
  background: linear-gradient(100.6deg, rgb(6, 125, 141) 11.2%, rgb(7, 57, 63) 91.1%); 
}
.section-footer-2{
  /* background: radial-gradient(circle at 10% 20%, rgb(55, 55, 57) 0%, rgb(14, 19, 24) 81.3%); */
  background:
  linear-gradient(135deg, #1d1d1d 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, #1d1d1d 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, #1d1d1d 25%, transparent 25%),
  linear-gradient(45deg, #1d1d1d 25%, transparent 25%);
  background-size: 15px 15px;
  background-color: #2a2a2a;
  color: white;
}
.section-footer-2 a{
  color: white !important;
}