.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.navbar {
  position: fixed !important;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #1d1d1d00;
}
.navbar-scrolled {
  background-color: #1d1d1d;
}
.logo {
  width: 150px;
  height: 30px;
}
.content {
  margin-top: 90px;
}
.nav-btn {
  text-decoration: none;
  background: none;
  color: rgb(255, 253, 253);
  border: none;
  cursor: pointer;
  font-size: 25px;
}

.nav-btn:hover {
  color: gold;
}

.search-bar {
  border: none !important;
  border-radius: 25px !important;
  width: 290px !important;
  color: rgb(17, 17, 17) !important;
  visibility: hidden;
}

.search-bar::placeholder {
  color: rgb(136, 136, 136) !important;
}
.search-bar:focus {
  box-shadow: none !important;
}

.mr-1 {
  margin-right: 12px !important;
}

.ml-1 {
  margin-left: 12px !important;
}

.mt-1 {
  margin-top: 12px !important;
}
.text-gold {
  color: rgb(255, 215, 0) !important;
}
.section-footer-2 {
  color: white;
  background-color: #1d1d1d;
}
.section-footer-2 a {
  color: white !important;
}
.hidden {
  visibility: visible !important;
}
.text-white {
  color: white !important;
}