.card {
    /* background-color: #2e2e2e !important; */
    /* background: linear-gradient(100.6deg, rgb(6, 125, 141) 11.2%, rgb(7, 57, 63) 91.1%);  */
    color: rgb(9, 9, 9) !important;
    border: none !important;
    transition: all 0.3s;
    height: auto !important;
    background-color: #183651 !important;
}
.card-car:hover{
    transform: scale(1.05);
}

.card-btn {
    background-color: gold !important;
    color: black !important;
    font-weight: bold !important;
}

.card-btn:hover {
    background-color: rgba(255, 217, 0, 0.9) !important;
    color: black !important;
}

.badge-cust {
    border-radius: 12px;
    font-size: 12px;
    background-color: #515151;
    font-weight: bold;
    padding: 2px 5px 2px 5px ;
}